{% set base_path = "" %}
{% set active_page = "contact" %}
{% extends "_base.html" %}

{% block title %}Contact {% endblock %}

{% block content %}
<section class="card">
  <h1 class="h1">Contact</h1>
</section>

<section class="card">
  <h2 class="h2">Links</h2>
  <ul class="muted">
    <li><a class="footerlink" href="https://github.com/charles633-wcu/nfl-team-compare" target="_blank" rel="noopener">GitHub</a></li>
    <li><a class="footerlink" href="https://linkedin.com/in/charles-wang-3a80961a4" target="_blank" rel="noopener">LinkedIn</a></li>
  </ul>
</section>

<section class="card">
  <h2 class="h2">Email</h2>
  <p class="muted">
    You can e-mail me at 2015wangch@gmail.com or cwang633@wcupa.edu.
  </p>
</section>
{% endblock %}
